body {
    margin: 0;
    padding:0;
}

p {
    margin: 0 0 16px;
}

.heading {
    background: white;
    background-image: url('https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg');
}

.heading h1 {
    text-align:left;
    font-size:3em;
    color: black;
    padding: 2em 0em;
    margin:0 auto;
}

.heading a {
    text-decoration:none;
    margin-left:10%;
    color: black;
    font: 48px Bison, sans-serif;
}

.futureVid a {
    color:black;
}

.yellow {
   background-image:linear-gradient(90deg,#ff0 0,#ff0);
}

.nav {
    position: -webkit-sticky;
}

.navbarDesktop {
    background-color: black;
    text-align:center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.navbarDesktop a {
    color:white;
    text-decoration:none;
    padding: 1em;
    font-size: 16px apple-system;
    
}


#contactButton {
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    font: 16px apple-system;
    margin: 5px 0px;
    
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight:bold;
}

.white-background {
    background-color: white;
    color:black;
}

.black {
    background-color: black;
    color:white;
    padding: 2em;
}

.black div {
    margin:0px 5px;
}

.black a {
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.white a {
    color: black;
}

.white h2 {
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

.partners {
    padding: 1em;
    margin-left: 2em;
}

.partners img {
    width: 70.19px;
    margin: 0px 14.0313px 16px 0px;
}

.grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    padding: 1em;
}

.choose-your-way {
    border: 1px solid black;
    padding: 1em;
    margin: 0px 0px 16px;
}

.margin {
    margin: 3em;
}

.choose-your-way h3 {
    display: grid;
    grid-column: 1/3;
}


.youngCoders {
    border: 1px solid black;
    padding: 1em;
    margin: 0px 0px 16px;
}

.youngCoders h3 {
    display: grid;
    grid-column: 1/3;
}

.corpTrain {
    border: 1px solid black;
    padding: 1em;
    margin: 0px 0px 16px;
}

.corpTrain h3 {
    display: grid;
    grid-column: 1/3;
}


.grid-1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grid-1-1-1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.copyrights {
    display: grid;
    grid-column: 1/4;
    padding: 2em 0em; 
}



footer a {
    padding: 0px 12.8px 0px 0px;
    text-decoration:none;
    margin-right:1em;
}

footer h2 {
    font: 26px Bison, sans-serif;
}



.ourCourses a {
    text-decoration: none;
}


.aboutUs a {
    text-decoration: none;
}

.chatIcon {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* Hamburger */



.hamburger {
    position: relative;
    display: inline-block;
    background-color:black;
    width: 100%;
   

}

.hamburger a {
    color: white;
    display: block;
    padding: 0em 1em 0.5em 1em;

}

.hamburger img {
    padding-top: 1em;
}

.hamburger-content {
    display: none;
    position:absolute;
    z-index:1;
    background-color: black;
    color: white;
    width: 100%;
    left:0;
}

.hamburger-content a {
    padding-bottom: 1em;
}


.hamburger:hover  .hamburger-content {
    display: block;
    position: absolute;
    background-color: black;
    margin: 0;
  }

 


.hamburger span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    transform: rotate(90deg);
  }
  
  .hamburger:hover span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }

  
  .hamburger {
    display: none;
}

/*mobile mode*/

@media screen and (max-width:500px){

    .hamburger {
        display: inline-block;
        float: left;
        margin-right: 1em;
    }

    .navbarDesktop {
        display: none;
    }

    .grid-1-1, .grid-1-1-1, .grid-1-1-1-1 {
        grid-template-columns: 1fr;
    }

    /*tablet mode

    @media screen and (max-width:800px){

        .navbarHam {
            display: inline-block;
            float: left;
            margin-right: 1em;
        }
    
        .navbarDesktop {
            display: none;
        }
    
        .grid-1-1, .grid-1-1-1, .grid-1-1-1-1 {
            grid-template-columns: 1fr 1fr;
        }

        */